p{
	color: white;
	font-family: sans-serif;
}

h2{
	font-family: sans-serif;
}

#cont
{
	width: 1900px;
	margin-left: auto;
	margin-right: auto;
}
#nag
{
	background-image: linear-gradient(gray, lightgray);
	text-align: center;
	padding: 20px;
	height: 150px;
	
}
.slideshow-container {
	  max-width: 1600px;
	  position: absolute;
	  margin: auto;
	  padding: 20px 20px 20px 20px;
	}
#lewa
{
	float: left;
	background-image: linear-gradient(lightgray, gray, lightgray);
	width: 200px;
	height: 3820px;
	padding: 10px;
}
#glow
{
	float: left;
	width: 1460px;
	height: 3840px;
}
#a1
{
	float: left;
	width: 480px;
	height: 480px;
}
#a2
{
	float: left;
	width: 940px;
	padding: 20px;
	height: 440px;
	background-color: gray;
}
#a3
{
	float: left;
	width: 480px;
	height: 480px;
}
#a4
{
	float: left;
	width: 940px;
	padding: 20px;
	height: 440px;
	background-color: gray;
}
#a5
{
	float: left;
	width: 480px;
	height: 480px;
}
#a6
{
	float: left;
	width: 940px;
	padding: 20px;
	height: 440px;
	background-color: gray;
}
#a7
{
	float: left;
	width: 480px;
	height: 480px;
}
#a8
{
	float: left;
	width: 940px;
	padding: 20px;
	height: 440px;
	background-color: gray;
}
#a9
{
	float: left;
	width: 480px;
	height: 480px;
}
#a10
{
	float: left;
	width: 940px;
	padding: 20px;
	height: 440px;
	background-color: gray;
}
#a11
{
	float: left;
	width: 480px;
	height: 480px;
}
#a12
{
	float: left;
	width: 940px;
	padding: 20px;
	height: 440px;
	background-color: gray;
}
#a13
{
	float: left;
	width: 480px;
	height: 480px;
}
#a14
{
	float: left;
	width: 940px;
	padding: 20px;
	height: 440px;
	background-color: gray;
}
#a15
{
	float: left;
	width: 480px;
	height: 480px;
}
#a16
{
	float: left;
	width: 940px;
	padding: 20px;
	height: 438px;
	background-color: gray;
	margin-bottom: 2px;
}
#praw
{
	float: right;
	width: 200px;
	height: 3840px;
	padding-left: 20px;
}
#footer
{
	clear: both;
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
